<div class="main-container">

  <h1>The Heroes</h1>

  <form name="filter" class="filter" (ngSubmit)="search()">
    <div class="filter-element">
      <input name="id" type="text" [(ngModel)]="filter.id" placeholder="id" autocomplete="off">
    </div>

    <div class="filter-element">
      <input name="name" type="text" [(ngModel)]="filter.name" placeholder="name" autocomplete="off">
    </div>

    <div class="filter-element">
      <div *ngFor="let skill of HeroSkills" class="checkbox">
        <input [name]="'skill_ ' + skill" [id]="skill" type="checkbox" [value]="skill"
               [(ngModel)]="filter.skills[skill]">
        <label [for]="skill">{{skill}}</label>
      </div>
    </div>

    <button type="submit">search</button>
  </form>

  <div class="hero-list">

    <!-- classic -->
    <div class="classic">
      <h2>nanium rest channel</h2>
      <div *ngFor="let h of heroes1" class="hero-row">
        <div>{{h.id}}</div>
        <div>{{h.name}}</div>
        <div>{{h.dob}}</div>
      </div>
    </div>

    <!-- nanium -->
    <div class="nanium">
      <h2>nanium</h2>
      <div *ngFor="let h of heroes2" class="hero-row">
        <div>{{h.id}}</div>
        <div>{{h.name}}</div>
        <div>{{h.age}}</div>
      </div>
      <div class="hero-add-region">
        <input type="text" placeholder="name" [(ngModel)]="newHeroName"/>
        <div class="skills">
          <div *ngFor="let skill of HeroSkills" class="checkbox">
            <input [name]="'new_hero_skill_ ' + skill" [id]="'new_hero_skill_ ' + skill" type="checkbox" [value]="skill"
                   [(ngModel)]="newHeroSkills[skill]">
            <label [for]="'new_hero_skill_ ' + skill">{{skill}}</label>
          </div>
        </div>
        <button (click)="addHero()">add</button>
      </div>
      <div class="event-handler-switch">
        <input [name]="'hero-added-eventHandler1'" [id]="'hero-added-eventHandler1'" type="checkbox"
               [(ngModel)]="disabledHeroAddedEventHandler1" (ngModelChange)="toggleEventHandler1()">
        <label [for]="'hero-added-eventHandler1'">disable hero-added-eventHandler (add to list)</label>
      </div>
      <div class="event-handler-switch">
        <input [name]="'hero-added-eventHandler2'" [id]="'hero-added-eventHandler2'" type="checkbox"
               [(ngModel)]="disabledHeroAddedEventHandler2" (ngModelChange)="toggleEventHandler2()">
        <label [for]="'hero-added-eventHandler2'">disable hero-added-eventHandler (console.log)</label>
      </div>
    </div>

  </div>
</div>
